.qualification_container {
    max-width: 768px;
}

.qualification_sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualification_data {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.qualification_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification_subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}


@media screen and (max-width: 992px) {
    .qualification_container {
     grid-template-columns: 1fr;
     row-gap: 2.5rem;
    }
 
    .qualification_data {
     padding: 0.75rem 0.5rem;
    }
   }
